[motif]
#training set used to build the VR HMM model
motif=align/VR_class1.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.65
ratio=1
gap=20

[motif]
#training set used to build the VR HMM model
motif=align/VR_class2.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.2
ratio=0.1
gap=20

[motif]
#training set used to build the VR HMM model
motif=align/VR_class3.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.3
ratio=0.1
gap=20
