[motif]
#training set used to build the VR HMM model
motif=align/TR-class1.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.3
ratio=0.9
gap=20

[motif]
#training set used to build the VR HMM model
motif=align/TR-class2.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.1
ratio=1
gap=20

[motif]
#training set used to build the VR HMM model
motif=align/TR-class3.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.3
ratio=0.6
gap=20
