[motif]
#training set used to build the VR HMM model
motif=align/VR-class1.align
#arguments to build the VR HMM model
cov=0.9
len=6
score=0.5
ratio=0.6
gap=30

[motif]
#training set used to build the VR HMM model
motif=align/VR-class2.align
#arguments to build the VR HMM model
cov=0.9
len=4
score=0.5
ratio=0.6
gap=30

[motif]
#training set used to build the VR HMM model
motif=align/VR-class3.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.35
ratio=1
gap=30

[motif]
#training set used to build the VR HMM model
motif=align/VR-class4.align
#arguments to build the VR HMM model
cov=0.9
len=6
score=0.5
ratio=0.6
gap=30

[motif]
#training set used to build the VR HMM model
motif=align/VR-class5.align
#arguments to build the VR HMM model
cov=0.9
len=6
score=0.5
ratio=0.6
gap=30
