[motif]
#training set used to build the VR HMM model
motif=align/TR-class1.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.1
ratio=0.9
gap=50

[motif]
#training set used to build the VR HMM model
motif=align/TR-class2.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.6
ratio=0.5
gap=50

[motif]
#training set used to build the VR HMM model
motif=align/TR-class3.align
#arguments to build the VR HMM model
cov=0.9
len=7
score=0.6
ratio=0.6
gap=50
