[motif]
#training set used to build the RT HMM model
motif=align/RT-class1.align
#arguments to build the RT HMM model
cov=0.9
len=20
score=0.3
ratio=0.9
gap=400

[motif]
#training set used to build the RT HMM model
motif=align/RT-class2.align
#arguments to build the RT HMM model
cov=0.9
len=25
score=0.4
ratio=0.9
gap=400

[motif]
#training set used to build the RT HMM model
motif=align/RT-class3.align
#arguments to build the RT HMM model
cov=0.9
len=20
score=0.5
ratio=0.9
gap=400
